@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-fancy-2 {
    box-shadow: 0px 24px 24px -8px rgba(46, 54, 71, 0.04),
      0px 10px 10px -5px rgba(32, 38, 50, 0.04),
      0px 5px 5px -2.5px rgba(36, 42, 56, 0.04),
      0px 3px 3px -1.5px rgba(38, 44, 57, 0.04),
      0px 2px 2px -1px rgba(31, 37, 49, 0.04),
      0px 1px 1px -0.5px rgba(35, 42, 55, 0.03),
      0px 0px 0px 1px rgba(0, 11, 54, 0.0941);
  }
}
